---
layout: layout.njk
pagination:
  data: archetypes.groups
  size: 1
  alias: group
permalink: "/{{ group.slug }}/index.html"
---

{# This file now only creates group index pages #}
<h1 class="mb-3">{{ group.name }}</h1>
<p class="text-muted">{{ group.summary }}</p>

<ul>
  {% for item in group.items %}
  <li><a href="{{ group.slug }}/{{ item.slug }}/">{{ item.name }}</a></li>
  {% endfor %}
</ul>
