body { font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji"; }
#sidebar { width: 320px; max-width: 100%; }
@media (max-width: 991.98px) {
  #sidebar { width: 100%; }
}
.chip { border-radius: 9999px; }
main .container { max-width: 920px; }
